In [62]:
import requests
import json
import pandas as pd
import os

# Used to create time delay for for loop 
import time
import itertools
import numpy as np

In [44]:
postcodes = ['EC1A','EC1M','EC1N','EC1P','EC1R','EC1V','EC1Y','EC2A','EC2M','EC2N','EC2P','EC2R','EC2V','EC2Y','EC2A'
             ,'EC2M','EC2N','EC2P','EC2R','EC2V','EC2Y','EC4A','EC4M','EC4N','EC4P','EC4R','EC4V','EC4Y','WC1A','WC1B'
             ,'WC1E','WC11H','WC1N','WC1R','WC1V','WC1X','WC2A','WC2B','WC2E','WC2H','WC2N','WC2R', 'E1','E2','E3','E4','E5','E6',
             'E7','E8','E9','E10','E11','E12','E13','E14','E15','E16','E17','E18','E19','E20','N1','N2','N3','N4','N5','N6','N7',
             'N8','N9','N10','N11','N12','N13','N14','N15','N16','N17','N18','N19','N20','N21','N22','NW1','NW2','NW3',
             'NW4','NW5','NW6','NW7','NW8','NW9','NW10','NW11','SE1','SE2','SE3','SE4','SE5','SE6','SE7','SE8','SE9',
             'SE10','SE11','SE12','SE13','SE14','SE15','SE16','SE17','SE18','SE19','SE20','SE21','SE22','SE23','SE24','SE25','SE26','SE27','SE28',
             'SW1','SW2','SW3','SW4','SW5','SW6','SW7','SW8','SW9','SW10','SW11','SW13','SW14','SW15','SW16','SW17','SW18','SW19','SW20',
             'W1','W2','W3','W4','W5','W6','W7','W8','W9','W10','W11','W12','W13','W14','BR','CR','DA','EN','HA','IG','KT','SM','TW','UB','WD']
bedrooms = ['', '1','2','3','4','5']
classType = ['old_stock','new_build']
tenure = ['freehold','leasehold']
maxAge = ['84']
points = ['15']


df = pd.DataFrame()

# list1 = list(itertools.product(postcodes,bedrooms,classType,tenure,maxAge,points))
# # print(list1[100][0])
# # print(list1[100][1])
# # print(list1[100][2])
# # print(list1[100][3])
# for i in range(len(list1)):
    
#     response_API = requests.get('https://api.propertydata.co.uk/sold-prices?key=DCR205CWVJ&postcode='+list1[i][0]+'&bedrooms='+list1[i][1]+'&class='+list1[i][2]+'&tenure='+list1[i][3]+'&max_age='+list1[i][4]+'&points='+list1[i][5])
#     data = response_API.json()
#     raw_data = data.get("data")
#     print(raw_data)
#     if raw_data != None:
#         raw = raw_data.get("raw_data")
#         df1 = pd.json_normalize(raw)
#         df = pd.concat([df,df1], ignore_index=True)
#     time.sleep(5)  
     
        

    
    

# list1

In [41]:
df

,date,address,price,lat,lng,bedrooms,type,tenure,class
0,2016-02-16,"Flat 12, 63, West Smithfield, EC1A 9DY",380000,51.518867,-0.100560,NaN,flat,leasehold,old_stock
1,2019-12-18,"Flat 8, Wesley House, 5, Little Britain, EC1A 7BX",784000,51.517014,-0.097973,NaN,flat,leasehold,old_stock
2,2021-09-01,"Flat 1, 23, Middle Street, EC1A 7AB",825000,51.519504,-0.098746,NaN,flat,leasehold,old_stock
3,2017-12-21,"Vicary House, 24, Apartment 7.1, Bartholomew C...",813000,51.518154,-0.098603,NaN,flat,leasehold,old_stock
4,2021-07-30,"Vicary House, 24, Apartment 6.3, Bartholomew C...",810000,51.518207,-0.098560,NaN,flat,leasehold,old_stock
...,...,...,...,...,...,...,...,...,...
4896,2021-02-05,"Flat 9, 4 - 7, Red Lion Court, EC4A 3EB",580000,51.514611,-0.108852,NaN,flat,leasehold,old_stock
4897,2016-10-04,"Flat C, Sovereign House, 5, Poppins Court, EC4...",585000,51.514635,-0.105204,NaN,flat,leasehold,old_stock
4898,2020-06-10,"Aston House, 36 - 37, Apartment 3, Furnival St...",605000,51.517406,-0.110344,NaN,flat,leasehold,old_stock
4899,2017-09-29,"Aston House, 36 - 37, Apartment 2, Furnival St...",620000,51.517281,-0.110340,NaN,flat,leasehold,old_stock
4900,2018-10-10,"St. Dunstans House, 133 - 137, Apartment 68, F...",2150000,51.514799,-0.109624,NaN,flat,leasehold,old_stock

# Create df as CSV

In [43]:
outdir = '/Users/khrishawnpowell/Desktop/Projects/Scansan Properties'
outname = 'ScansanDf.csv'

if not os.path.exists(outdir):
    os.mkdir(outdir)
    
df.to_csv(f"{outdir}/{outname}")

## Geocode Code

In [45]:

# # Code used to generate address based on just the x and y co ordinates
# from geopy.geocoders import GoogleV3
# # from geopy.geocoders import Nominatim
# arrayAddress = []
# for i in range(len(df)) :
#     x = df.loc[i]['lat']
#     y = df.loc[i]['lng']
#     coOrdinates = str(x+","+y)
#     # geolocator = Nominatim(user_agent="propertyAddress")
#     geolocator = GoogleV3(api_key="AIzaSyD0vkvS20E1644OCAca2I6qyWXDWTXeA30")
#     location = geolocator.reverse(coOrdinates)
#     propertyAddress = location.address
#     arrayAddress.append(propertyAddress)


# arrayAddress

# Load in df

In [48]:
df = pd.read_csv('/Users/khrishawnpowell/Desktop/Projects/Scansan Properties/ScansanDf.csv')
df

,Unnamed: 0,date,address,price,lat,lng,bedrooms,type,tenure,class
0,0,2016-02-16,"Flat 12, 63, West Smithfield, EC1A 9DY",380000,51.518867,-0.100560,NaN,flat,leasehold,old_stock
1,1,2019-12-18,"Flat 8, Wesley House, 5, Little Britain, EC1A 7BX",784000,51.517014,-0.097973,NaN,flat,leasehold,old_stock
2,2,2021-09-01,"Flat 1, 23, Middle Street, EC1A 7AB",825000,51.519504,-0.098746,NaN,flat,leasehold,old_stock
3,3,2017-12-21,"Vicary House, 24, Apartment 7.1, Bartholomew C...",813000,51.518154,-0.098603,NaN,flat,leasehold,old_stock
4,4,2021-07-30,"Vicary House, 24, Apartment 6.3, Bartholomew C...",810000,51.518207,-0.098560,NaN,flat,leasehold,old_stock
...,...,...,...,...,...,...,...,...,...,...
4896,4896,2021-02-05,"Flat 9, 4 - 7, Red Lion Court, EC4A 3EB",580000,51.514611,-0.108852,NaN,flat,leasehold,old_stock
4897,4897,2016-10-04,"Flat C, Sovereign House, 5, Poppins Court, EC4...",585000,51.514635,-0.105204,NaN,flat,leasehold,old_stock
4898,4898,2020-06-10,"Aston House, 36 - 37, Apartment 3, Furnival St...",605000,51.517406,-0.110344,NaN,flat,leasehold,old_stock
4899,4899,2017-09-29,"Aston House, 36 - 37, Apartment 2, Furnival St...",620000,51.517281,-0.110340,NaN,flat,leasehold,old_stock
4900,4900,2018-10-10,"St. Dunstans House, 133 - 137, Apartment 68, F...",2150000,51.514799,-0.109624,NaN,flat,leasehold,old_stock

In [54]:
education = ['']*4901
crime = ['']*4901
demand = ['']*4901
demandRent = ['']*4901
rentHMO = ['']*4901
averageSold = ['']*4901
# education
df['education'] = education
df['demand'] = demand
df['demandRent'] = demandRent
df['rentHMO'] = rentHMO
df['averageSold'] = averageSold
df['crime'] =crime

In [55]:
df

,Unnamed: 0,date,address,price,lat,lng,bedrooms,type,tenure,class,education,demand,demandRent,rentHMO,averageSold,crime
0,0,2016-02-16,"Flat 12, 63, West Smithfield, EC1A 9DY",380000,51.518867,-0.100560,NaN,flat,leasehold,old_stock,,,,,,
1,1,2019-12-18,"Flat 8, Wesley House, 5, Little Britain, EC1A 7BX",784000,51.517014,-0.097973,NaN,flat,leasehold,old_stock,,,,,,
2,2,2021-09-01,"Flat 1, 23, Middle Street, EC1A 7AB",825000,51.519504,-0.098746,NaN,flat,leasehold,old_stock,,,,,,
3,3,2017-12-21,"Vicary House, 24, Apartment 7.1, Bartholomew C...",813000,51.518154,-0.098603,NaN,flat,leasehold,old_stock,,,,,,
4,4,2021-07-30,"Vicary House, 24, Apartment 6.3, Bartholomew C...",810000,51.518207,-0.098560,NaN,flat,leasehold,old_stock,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4896,4896,2021-02-05,"Flat 9, 4 - 7, Red Lion Court, EC4A 3EB",580000,51.514611,-0.108852,NaN,flat,leasehold,old_stock,,,,,,
4897,4897,2016-10-04,"Flat C, Sovereign House, 5, Poppins Court, EC4...",585000,51.514635,-0.105204,NaN,flat,leasehold,old_stock,,,,,,
4898,4898,2020-06-10,"Aston House, 36 - 37, Apartment 3, Furnival St...",605000,51.517406,-0.110344,NaN,flat,leasehold,old_stock,,,,,,
4899,4899,2017-09-29,"Aston House, 36 - 37, Apartment 2, Furnival St...",620000,51.517281,-0.110340,NaN,flat,leasehold,old_stock,,,,,,
4900,4900,2018-10-10,"St. Dunstans House, 133 - 137, Apartment 68, F...",2150000,51.514799,-0.109624,NaN,flat,leasehold,old_stock,,,,,,

## Score the area based on the schools around it

In [59]:
postcodes = ['EC1A','EC1M','EC1N','EC1P','EC1R','EC1V','EC1Y','EC2A','EC2M','EC2N','EC2P','EC2R','EC2V','EC2Y','EC2A'
             ,'EC2M','EC2N','EC2P','EC2R','EC2V','EC2Y','EC4A','EC4M']

scoresEdu =[]
for i in postcodes:
    schoolsResponse_API = requests.get('https://api.propertydata.co.uk/schools?key=DCR205CWVJ&postcode='+i)
    
    data = schoolsResponse_API.json()
    raw_data = data.get("data")

    scores = []
    if raw_data!= None:
        raw_data = raw_data.get("state").get("nearest")
        for i in raw_data:
            rating = i.get("rating")
            scores.append(rating)

        scores
        #                                  Calculate education score 
        outstandingCount = scores.count("Outstanding")
        goodCount = scores.count("Good")
        requiresImprovementCount = scores.count("Requires improvement")
        inadequateCount = scores.count("Inadequate")
        unknownCount = scores.count("Unknown") 

        educationScore = (outstandingCount*5) +(goodCount*4)+(requiresImprovementCount*3) +(inadequateCount*0) +(unknownCount*1)
        # educationScore = 20
        classificationScore =" "
        if educationScore >= 20:
            classificationScore = "Great"
        elif 10 <= educationScore < 20:
            classificationScore = "Good"
        else:
            classificationScore = "Poor"

        scoresEdu.append(classificationScore)
    time.sleep(5)

In [61]:

scoresEdu

['Poor',
 'Poor',
 'Poor',
 'Poor',
 'Good',
 'Good',
 'Poor',
 'Poor',
 'Poor',
 'Poor',
 'Poor',
 'Poor',
 'Poor',
 'Poor',
 'Poor',
 'Poor',
 'Poor',
 'Poor',
 'Poor',
 'Poor',
 'Poor',
 'Poor',
 'Poor']

In [ ]:


outdir = '/Users/khrishawnpowell/Desktop/Projects/Scansan Properties'
outname = 'ScansanDf.csv'

if not os.path.exists(outdir):
    os.mkdir(outdir)
    
df.to_csv(f"{outdir}/{outname}")

## Score the area based on rent of 3 bedroom house

In [ ]:
rentsResponse_API = requests.get('https://api.propertydata.co.uk/rents?key=DCR205CWVJ&postcode=SE146BJ&bedrooms=3')
data = rentsResponse_API.json()
average = data.get('data').get('long_let').get('average')
average

561

In [ ]:
# average1 = int(average)
rentClassification = " "

if  500 <= average < 600:
    rentClassification = "Average"
elif  average >= 500:
    rentClassification = "High"
else:
    rentClassification = "Low"

rentClassification

'Average'

## Score the area based on crime

Will leave the crime score the way it is due to the fact thatit is already categorised and produces its own score from the propertyDataAPI

In [ ]:
rentsResponse_API = requests.get('https://api.propertydata.co.uk/crime?key=DCR205CWVJ&postcode=SE146BJ')
data = rentsResponse_API.json()
crimeRating = data.get('crime_rating')
# .get('long_let').get('average')
# average
crimeRating
rating = " "
# Scale of 1-5 with 1 being the least crime and 5 being the most
if crimeRating == "Very high crime":
    rating = 1
elif crimeRating == "High crime":
    rating = 2
elif crimeRating == "Average crime":
    rating = 3
elif crimeRating == "Low crime":
    rating = 4
elif crimeRating == "Very low crime":
    rating = 5
else:
    rating = "Error"

rating

3

## Score the area based on demand

In [ ]:
demandResponse_API = requests.get('https://api.propertydata.co.uk/demand?key=DCR205CWVJ&postcode=SE14')
data = demandResponse_API.json()
# leave the rating as it is when carrying out ML 
# I will one hot encode the labels to numeric values
demand = data.get('demand_rating')
demand

'Balanced market'

## Score the area based on demand rent

In [ ]:
demandResponse_API = requests.get('https://api.propertydata.co.uk/demand-rent?key=DCR205CWVJ&postcode=SE14')
data = demandResponse_API.json()
# leave the rating as it is when carrying out ML 
# I will one hot encode the labels to numeric values
demand = data.get('rental_demand_rating')
demand

## Score the area based on sold price

In [41]:
propertyType = ['flat','terraced_house','semi-detached_house','detached_house']
averageArray = []

for i in propertyType:
    demandResponse_API = requests.get('https://api.propertydata.co.uk/sold-prices?key=DCR205CWVJ&postcode=SE18&type='+i+'&max_age=12')
    data = demandResponse_API.json()
    data = data.get('data')
    average ='None'
    if data != None:
        average = data.get('average') 
    print(average)
    averageArray.append(data)
    time.sleep(4)


# # average

326459
434186
494906
None

## Score the area based on planning permission

In [ ]:
planningResponse_API = requests.get('https://api.propertydata.co.uk/planning?key=DCR205CWVJ&postcode=SE14+6BJ&decision_rating=positive&max_age_update=120&results=53&category=COMMERCIAL%20DEVELOPMENT')
data = planningResponse_API.json()
raw_data = data.get("data")
# 
# .get('planning_applications')
# .get("state").get("nearest")
# data
data

# scores = []
# for i in raw_data:
#     rating = i.get("rating")
#     scores.append(rating)

# scores

{'status': 'error',
 'code': '604',
 'message': 'No planning applications matching filter',
 'process_time': '0.15'}

## Score the area based on rent HMO

In [ ]:
rentsResponse_API = requests.get('https://api.propertydata.co.uk/rents-hmo?key=DCR205CWVJ&postcode=SE146BJ')
data = rentsResponse_API.json()
average = data.get('data').keys()
houseTypeList =  list(average)
averageArray= []

for i in range (len(houseTypeList)-1):
    averageOfType = data.get('data').get(houseTypeList[i]).get('average')
    averageArray.append(averageOfType)
print(houseTypeList)
averageArray

['double-ensuite', 'double-shared-bath', 'single-ensuite', 'single-shared-bath', 'attributes']

[245, 184, 226, 153]